<div style="min-height: 25vh; display: flex; justify-content: center; align-items: center;">
  Test
</div>
<div>
  <% @movies.each do |movie| %>
    <%= image_tag "#{movie.poster_url}" %>
    <%= movie.title %>
    <%= movie.overview %>
  <% end %>
</div>
