.movie-card {
  text-align: center;
  overflow: hidden;
  margin-bottom: 30px;

  img {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin: 0 auto;
    // transform: scale(1.2);
    // transition: 300ms;

    &:hover {
      transform: scale(1);
    }
  }
}
